#seniors .portfolio-left li:nth-child(4),
#seniors .portfolio-left li:nth-child(7),
#seniors .portfolio-left li:nth-child(14),
#seniors .portfolio-left li:nth-child(19),
#seniors .portfolio-left li:nth-child(24),
#seniors .portfolio-left li:nth-child(27),
#seniors .portfolio-left li:nth-child(30),
#seniors .portfolio-left li:nth-child(33),
#seniors .portfolio-left li:nth-child(34)
 {
  width: 100%
}

#seniors .portfolio-left
li:nth-child(6),
li:nth-child(8),
li:nth-child(9),
li:nth-child(12),
li:nth-child(13),
li:nth-child(17)
 {
  width: 49%
}

#seniors .portfolio-right li {
	width: 100%;
}

#seniors .portfolio-left {
	z-index: 9999999;
}



#seniors .portfolio-left {
	position: relative;
}