#weddings .portfolio-left li:nth-child(1),
li:nth-child(2) {
	width: 49%;
}

#weddings .portfolio-left li:nth-child(3),
li:nth-child(6) {
	width: 100%;
}

#weddings .portfolio-right li {
	width: 100%;
}


#weddings .portfolio-left {
	position: relative;
}
